{% extends 'base.html' %}
{% load static %}

{% block content %}
      
      <!--About Section Starts Here -->
        <div class="jumbotron jumbotron-fluid mt-5">
            <h1 class="text-center">About Tech&Data</h1>
            <div class="row">
                <div class="col-md-3">
                
                </div>
                <div class="col-md-6">
                    <p class="text-center">
                        Tech&Data is a technology organization that focuses on harnessing the power and the ever emerging gift of technology that bring satisfaction to her clients and particular and the world in general. We invest in research and stay up to date with the trend of technology. <br><i class="text-danger">We help make the web a beautiful, safe and serene place for everyone to succeed</i>
                    </p>
                </div>
                <div class="col-md-3">
                
                </div>
            </div>
        </div>
      <!--About Section Ends Here -->
      
      <!--About the Author Section Starts Here -->
        <div class="jumbotron jumbotron-fluid bg-dark mt-5">
          <h3 class="text-center text-light font-bold font-italic">Programmer | Web Developer | Data Analyst</h3>
        </div>
      
    
        <div class="col-md-12 no-gutters">
            <div class="card" style="width: 100%;">
              <img src="/static/web/img/mk2.jpeg?{% now 'U' %}" class="rounded-circle mx-auto d-block" width="20%" height="20%" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center display-4">Ndegwa Kahiga Joseph</h5>
                  <div class="row">
                    <div class="col-md-2">
                    
                    </div>
                    <div class="col-md-8">
                        <p class="card-text text-center p-3" style="font-size: 1.2em">
                            I am a graduate of Bsc Mathematics & Computer Science, Software Development and Data Analysis. I have passion for problem solving and a general love for computer.I have a full time career in developing online applications and data anaylsis. I am very proficient in Web programming and design, UX/UI design, HTML5, CSS5, PHP, JavaScript, MySQL, MongoDB databases, Django framework, Flask Framework, Python, and C++. I am a also a Hardware Maintenance expert.
                        </p>
                    </div>
                    <div class="col-md-2">
                    
                    </div>
                  </div>
                <p class="text-center"><a href="#" class="btn btn-primary">Contact me</a></p>
              </div>
            </div>
        </div>
      
      <!--About the Author Section Ends Here -->
      
      
            <!--Order Services container starts here -->
             <div class="jumbotron mb-0" style="background-color: rgb(0,0,0);" data-aos="fade-up" data-aos-delay="200">
                <h1 class="display-4 text-center font-weight-bolder pt-5 pb-5">Our Other Services</h1>
                <div class="row pb-5">
                    <div class="col-md-4 text-center">
                        <img src="/static/web/img/chrome_reader_mode-24px.svg?{% now 'U' %}">
                        <p class="text-light pr-3 pl-3 ml-5 text-justify">
                            We create great content for your brand. Either from existing resouces or we source for content that relates to your business, we make your online office a place to attracts attention and brings your customers. Be it:
                        </p>
                        <ul class="text-light ml-5 pb-5 text-justify" style="list-style-image: url(/static/web/img/mouse-24px.svg?{% now 'U' %});">
                            <li>Still Graphics Designs</li>
                            <li>Motion Graphics Designs</li>
                            <li>Blog Posts Content</li>
                            <li>Social Media Content</li>
                            <li>Journals Content</li>
                        </ul>
                        <p class="text-center"><a class="btn btn-danger" href="https://www.fiverr.com/tomnyone/professionally-manage-and-grow-your-instagram" target="_blank">Learn more</a></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="/static/web/img/code-24px.svg?{% now 'U' %}">
                         <p class="text-light pr-3 pl-3 ml-5 text-justify">
                             We are a reputable app developer. We design, build and test all our applications. Even after we have delivered to our clients, we adopt continue testing and version control technologies to ensure our codes are upto date. We specializes in: 
                        </p>
                        <ul class="text-light ml-5 pb-5 text-justify" style="list-style-image: url(/static/web/img/important_devices-24px.svg?{% now 'U' %});">
                            <li>UX/UI Designs</li>
                            <li>Mobile App Development <i class="text-light">&Lang; Cross Platforms &Rang;</i></li>
                            <li>Web App Development</li>
                            <li>Desktop App Development</li>
                        </ul>
                        <p class="text-center"><a class="btn btn-danger" href="https://www.fiverr.com/tomnyone/design-and-develop-a-professional-dynamic-website-for-you" target="_blank">Learn more</a></p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="/static/web/img/business-24px.svg?{% now 'U' %}">
                         <p class="text-light pr-3 pl-3 ml-5 text-justify">
                             Basically, we will manage your online presence, create content and publish, strategically increase your online presence visibility and deliver more ROI. Platforms include:
                        </p>
                        <ul class="text-light ml-5 pb-5 text-justify" style="list-style-image: url(/static/web/img/supervisor_account-24px.svg?{% now 'U' %});">
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>Twitter</li>
                            <li>YouTube</li>
                            <li>Website</li>
                        </ul>
                        <p class="text-center"><a class="btn btn-danger" href="https://www.fiverr.com/tomnyone/online-presence-management-expert" target="_blank">Learn more</a></p>
                    </div> 
                </div> 
            </div>
        <!-- End of other services -->
      
        <!-- YouTube Videos Embed Starts here -->
          <div class="site-blocks-cover" style="overflow: hidden;">
              <h1 class="text-center m-5">See Some of our Tutorials</h1>
                <div class="row" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-4 mt-5">
                             <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2FcG8onLLfE" allowfullscreen; frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-5">
                             <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rS_3hvB6_CY" allowfullscreen; frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-5">
                             <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RDKhHwEdXyI" allowfullscreen; frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </div>
            </div>
        <!--YouTube Videos Embed Starts here  -->
      
        <!--Sample Works starts Here -->
            <div class="jumbotron">
                <h1 class="text-center m-5 font-weight-bold display-4 text-dark">Works Samples</h1>
                <div class="row" data-aos="fade-up">
                        <div class="col-md-6 p-3" style="background-image: url(/static/web/img/sample-1.png?{% now 'U' %}); background-size: cover; height: 500px">
                           <p style="left: 50%; margin-left: 40%; top: 30%; margin-top: 30%;"><a class="btn btn-primary font-weight-bold" href="https://www.xchangebuddy.com/" style="width: 50%; font-size: 20px" target="_blank">See More!</a></p>
                        </div>
                        <div class="col-md-6 p-3" style="background-image: url(/static/web/img/bitmap.png?{% now 'U' %}); background-size: cover; height: 500px">
                            <p style="left: 50%; margin-left: 40%; top: 30%; margin-top: 30%;"><a class="btn btn-primary font-weight-bold" href="https://tomdentist.herokuapp.com/" style="width: 50%; font-size: 20px" target="_blank">See More!</a></p>
                        </div>
                    </div>
            </div>
        <!--Sample Works ends here -->
      
      
      
      
      
      
{% endblock %}