{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Next section starts here after the plan section -->
<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <img src="/static/web/img/web_devices_ad58.svg?{% now 'U' %}" alt="Image" class="img-fluid mt-5 mr-5 img-absolute">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6 mr-auto">
            <h1>We Design to Fit Your Desires</h1>
            <p class="mb-5">Creativity is the language we speak - creative visualization meets desires</p>
            <div>
              <a href="#" class="btn btn-danger mr-2 mb-2">Get Started</a>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>

<!-- Web dev sections starts here after the plan section -->
  <div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-md-6">
                 <img src="/static/web/img/undraw_landing_page_q6hh.svg?{% now 'U' %}" alt="Image" class="img-fluid mt-5">
            </div>
          <div class="col-md-6 m-auto float-right">
                <h1>Get a professionally looking landing page</h1>
                <p class="mb-5">We will build a perfect landing page for your business</p>
                <div>
                  <a href="#" class="btn btn-danger mr-2 mb-2">Get Started</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Web dev section ends here after the plan section -->
    
    <!-- Web dev sections starts here after the plan section -->
  <div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6 m-auto float-right">
                <h1>Data Analysis</h1>
                <p class="mb-5">
                    This helps clients do targeted marketing and ad's online <br>
                    or NGO's to make clear choices on trend and behavioral in people and environment
                </p>
                <div>
                  <a href="#" class="btn btn-danger mr-2 mb-2">Get Started</a>
                </div>
            </div>
            <div class="col-md-6">
                 <img src="/static/web/img/Data-Analysis-1080x675-1.jpg?{% now 'U' %}" alt="Image" class="img-fluid mt-5">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Web dev section ends here after the plan section -->s
{% endblock %}